@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'poppins';
    width: 100%;
    height: 100vh;
}

body::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background-color: #1e111b;
}

/* PANIER CONTAINER STYLE START */

.cartContentList {
    padding: 2rem 1.8rem;
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #fafafa;
    width: 80%;
    max-width: 500px;
    box-shadow: -2px 0 24px rgba(0, 0, 0, 0.7);
    transform: translateX(110%);
    transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
    z-index: 10;
    overflow-y: auto;
    overflow-x: hidden;
}

.cartContentList::-webkit-scrollbar {
    appearance: none;
    display: none;
}

.cartContentList.active {
    transform: translateX(0);
}

.cartContentList .cartTitle {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.8rem;
}

.cartContentList .cartContent .cartBox {
    display: grid;
    grid-template-columns: 32% 50% 18%;
    gap: 1rem;
    align-items: center;
    margin-top: 2rem;
}

.cartContentList .cartContent .cartBox img {
    width: 100px;
    height: 100px;
    background-color: #1e111b;
    border-radius: 20px;
    object-fit: contain;
    padding: 10px;
}

.cartContentList .cartContent .cartBox .detailBox {
    display: grid;
    row-gap: 0.5rem;
}

.cartContentList .cartContent .cartBox .detailBox .cartProductTitle h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 600;
}

.cartContentList .cartContent .cartBox .detailBox .cartPrice p {
    font-weight: 500;
}

.cartContentList .cartContent .cartBox .detailBox .cartQuantity {
    width: 2.4rem;
    text-align: center;
    border: 2px solid #1e111b;
    border-radius: 6px;
    font-family: 'poppins';
    font-size: 1rem;
}

.cartContentList .cartContent .cartBox .cartRemove {
    font-size: 24px;
    color: #1e111b;
    cursor: pointer;
}

.cartContentList .total {
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5rem;
    border-top: 1px solid #151515;
}

.cartContentList .total .totalTitle h2 {
    font-size: 1rem;
    font-weight: 600;
}

.cartContentList .total .totalPrice p {
    margin-left: 0.5rem;
}

.cartContentList .btnBuy {
    display: flex;
    margin-top: 1.5rem;
    padding: 12px 20px;
    border: none;
    border-radius: 20px;
    background-color: #1e111b;
    color: #fafafa;
    cursor: pointer;
    font-size: 1rem;
    text-transform: capitalize;
    font-family: 'poppins';
    font-weight: 600;
}

.cartContentList #closeCart {
    position: absolute;
    top: 1rem;
    right: 0.8rem;
    font-size: 2rem;
    cursor: pointer;
}

/* NAVIGATION STYLE START */

nav {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1e111b;
    color: #fff;
    padding: 1rem 0;
}


/* Logo */

nav .logo {
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

nav .logo img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: contain;
}


/* Navlink */

nav .navLinkContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-basis: 30%;
}

nav .navLinkContainer .navLinks {
    padding: 0 1.5rem;
}

nav .navLinkContainer .navLinks:nth-child(1) {
    position: relative;
}

nav .navLinkContainer .navLinks:nth-child(1) ul {
    top: 4.35rem;
    position: absolute;
    width: 200px;
    background-color: #1e111b;
    border: 1px solid #1e111ba4;
    border-radius: 6px;
    visibility: hidden;
    opacity: 0;
    transition: .5s cubic-bezier(0.19, 1, 0.22, 1);
}

nav .navLinkContainer:focus-within .navLinks:nth-child(1) ul,
nav .navLinkContainer:hover .navLinks:nth-child(1) ul {
    visibility: visible;
    opacity: 1;
}

nav .navLinkContainer .navLinks:nth-child(1) ul li {
    width: 100%;
    line-height: 3.5rem;
    border-bottom: 1px solid rgba(255,255,255,0.3);
}

nav .navLinkContainer .navLinks:nth-child(1) ul li a {
    color: #fafafa;
}

nav .navLinkContainer .navLinks:nth-child(1) ul li a {
    padding: 2.5rem 1.5rem;
    font-weight: 600;
}

nav .navLinkContainer .navLinks a {
    color: #fafafa;
    font-size: 16px;
}


/* Right Content */

nav .rightContent {
    display: flex;
    align-items: center;
    gap: 20px;
}


/* Cart */

nav .rightContent .cartContentIcon {
    display: flex;
    align-items: center;
}

nav .rightContent .cartContentIcon .addCartContent {
    background-color: transparent;
    border: none;
    color: #fafafa;
    cursor: pointer;
    position: relative;
}

nav .rightContent .cartContentIcon .addCartContent #count {
    position: absolute;
    background-color: #ffce31;
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50%;
    font-size: 11px;
    color: #151515;
    font-weight: 900;
    top: -20%;
    left: -50%;
}

nav .rightContent .cartContentIcon .addCartContent.on::before{
    opacity: 1;
}

nav .rightContent .cartContentIcon .addCartContent span {
    background-color: #ffce31;
    padding: 5px 10px;
    border-radius: 50%;
    font-size: 12px;
    color: #151515;
    font-weight: bold;
    position: absolute;
    top: -25%;
    left: -50%;
    opacity: 0;
}

nav .rightContent .cartContentIcon .addCartContent i {
    font-size: 32px;
}


/* Search */

nav .rightContent .search {
    display: flex;
    align-items: center;
}

nav .rightContent .search .searchButton {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
}

nav .rightContent .search .searchButton i {
    font-size: 20px;
}


/* Button hamburger */

nav .btnHamburger {
    display: none;
}


/* -------------- --------------- */


/* -- SMARTPHONE DEVICE START -- */


/* ------------- -------------- */

@media screen and (max-width: 767px) {
    /* NAVIGATION STYLE START */
    nav {
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        position: fixed;
        padding: 1rem 2rem;
        z-index: 5;
    }
    /* Navlink */
    nav .navLinkContainer {
        position: fixed;
        top: 0;
        right: 0;
        width: 50%;
        height: 100%;
        min-height: 700px;
        background-color: #000000;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: baseline;
        padding: 0 2rem;
        transform: translateX(100%);
        transition: transform .5s cubic-bezier(0.19, 1, 0.22, 1);
        z-index: 2;
    }
    nav .navLinkContainer.active {
        transform: translateX(0);
    }
    nav .navLinkContainer .navLinks {
        padding: 0 1.5rem;
    }
    nav .navLinkContainer .navLinks a {
        color: #fafafa;
        font-size: 14px;
        font-size: 24px;
    }
    /* Cart */
    nav .rightContent .cartContentIcon {
        position: relative;
        right: 150px;
        display: flex;
        align-items: center;
    }
    /* Search */
    nav .rightContent .search {
        position: relative;
        right: 150px;
        display: flex;
        align-items: center;
    }
    nav .rightContent .search .searchButton {
        background-color: transparent;
        border: none;
        color: #fff;
        cursor: pointer;
    }
    /* Hamburger button */
    nav .btnHamburger {
        position: fixed;
        right: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: transparent;
        border: none;
        width: 50px;
        height: 50px;
        z-index: 5;
        cursor: pointer;
    }
    nav .btnHamburger span {
        width: 80%;
        height: 2px;
        background-color: #fafafa;
    }
}

/* DETAILS PRODUCT SECTION */

header {
    padding: 5rem 0;
}

header .containerGlobal {
    max-width: 1300px;
    width: 80%;
    margin: 1rem auto;
    display: flex;
    justify-content: center;
    height: auto;
    gap: 2rem;
    flex-wrap: wrap;
}

header .containerGlobal .flexItem {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 600px;
}

/* Image Product Style */

header .containerGlobal .flexItem:nth-child(1){
    background-color: #cecece;
    border-radius: 8px;
}

header .containerGlobal .flexItem .imgBloc {
    display: flex;
    justify-content: center;
    
}

header .containerGlobal .flexItem .imgBloc img {
    width: 80%;
}

/* Image Product Style */

header .containerGlobal .flexItem .titleProductDescription {
    font-size: 1.3rem;
}

header .containerGlobal .flexItem .categories {
    font-size: .7rem;
    color: #151515;
    text-transform: uppercase;
    font-weight: 600;
}

header .containerGlobal .flexItem .price {
    display: flex;
    align-items: center;
    gap: .5rem;
}

header .containerGlobal .flexItem .price .priceOff {
    font-size: .85rem;
    color: #666666;
    font-weight: 600;
    position: relative;
}

header .containerGlobal .flexItem .price .priceOff::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #151515;
    left: 0;
    top: 50%;
    transform: translateY(-50%) rotate(-15deg);
}

header .containerGlobal .flexItem .price .priceNow {
    font-size: 1.3rem;
    color: #151515;
    font-weight: 700;
}

header .containerGlobal .flexItem .state {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

header .containerGlobal .flexItem .state .stateProduct {
    font-size: .7rem;
    font-weight: bold;
    color: #151515;
}

header .containerGlobal .flexItem .state .progressLine {
    display: block;
    background-color: #cecece;
    width: 100%;
    height: 5px;
    border-radius: 30px;
    position: relative;
}

header .containerGlobal .flexItem .state .progressLine::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 70%;
    top: 0;
    left: 0;
    background-color: #07484A;
    border-radius: inherit;
}

header .containerGlobal .flexItem .technicalSheet {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

header .containerGlobal .flexItem .technicalSheet .technicalSheetTitle {
    font-size: 1rem;
}

header .containerGlobal .flexItem .technicalSheet .technicalSheetDescription {
    font-size: 0.85rem;
    line-height: 1.5rem;
}

header .containerGlobal .flexItem .wrapContainer {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 1px solid #e0e0e0;
    background-color: #fffcfc;
    padding: 1rem 1.5rem;
    border-radius: 8px;
}

header .containerGlobal .flexItem .wrapContainer h2 {
    font-size: 1rem;
}

header .containerGlobal .flexItem .wrapContainer .inputField {
    display: flex;
    position: relative;
    width: 300px;
}

header .containerGlobal .flexItem .wrapContainer .inputField #cartQuantity {
    appearance: textfield;
    border: 1px solid #e0e0e0;
    width: 100%;
    padding: .8rem .5rem;
    text-align: center;
    font-family: "poppins";
    font-weight: 700;
    border-radius: 8px;
}

header .containerGlobal .flexItem .wrapContainer .inputField #cartQuantity::-webkit-outer-spin-button,
header .containerGlobal .flexItem .wrapContainer .inputField #cartQuantity::-webkit-inner-spin-button {
    appearance: none;
}

header .containerGlobal .flexItem .wrapContainer .inputField button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    font-family: 'poppins';
    cursor: pointer;
}

header .containerGlobal .flexItem .wrapContainer .inputField #decrement {
    position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
}

header .containerGlobal .flexItem .wrapContainer .inputField #increment {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(-50%, -50%);
}

header .containerGlobal .flexItem .wrapContainer .callToActionProduct .pay {
    padding: 15px 5px;
    margin: 10px 5px;
    border: none;
    background-color: #1e111b;
    border-radius: 32px;
    color: #fafafa;
    cursor: pointer;
    width: 150px;
    font-size: .85rem;
    font-family: 'poppins';
}

header .containerGlobal .flexItem .wrapContainer .callToActionProduct .addToCart {
    padding: 15px 5px;
    margin: 10px 5px;
    border: none;
    background-color: #1e111b;
    border-radius: 32px;
    color: #fafafa;
    cursor: pointer;
    width: 50px;
    height: 50px;
}

/* FOOTER STYLE START */

footer {
    padding: 2rem 0;
    background-color: #1e111b;
}

footer .containerFooter {
    max-width: 1600px;
    width: 80%;
    height: auto;
    margin: 30px auto;
    display: grid;
    grid-template-columns: 350px 1fr;
    gap: 30px;
}

/* Content Left Start */

footer .containerFooter .leftContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .containerFooter .leftContent .companyContent {
    display: flex;
    align-items: center;
}

footer .containerFooter .leftContent .companyContent img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    margin-right: 10px;
}

footer .containerFooter .leftContent .companyContent .textContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

footer .containerFooter .leftContent .companyContent .textContent h1 {
    font-size: 24px;
    color: #fafafa;
}

footer .containerFooter .leftContent .companyContent .textContent p {
    font-size: 12px;
    color: #9f9e9e;
    font-weight: 500;
}

footer .containerFooter .leftContent .socialContainer {
    display: flex;
    justify-content: space-between;
    width: 30%;
}

footer .containerFooter .leftContent .socialContainer span {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fafafa;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

footer .containerFooter .leftContent .socialContainer span i {
    font-size: 12px;
}

footer .containerFooter .leftContent .socialContainer span.facebookIcon {
    background-color: #3B5998;
}

footer .containerFooter .leftContent .socialContainer span.instaIcon {
    background: linear-gradient(45deg, #405de6, #5851db, #833ab4, #c13584, #E1306c, #fd1d1d);
}

footer .containerFooter .leftContent .socialContainer span.twitterIcon {
    background-color: #00acee;
}


/* Content Right Start */

footer .containerFooter .rightContent {
    display: flex;
    justify-content: space-around;
}

footer .containerFooter .rightContent .hourly {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .containerFooter .rightContent p,
.rightContent a {
    font-size: 14px;
}

footer .containerFooter .rightContent h2 {
    color: #fafafa;
    font-size: 24px;
}

footer .containerFooter .rightContent .hourly .dayContent {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

footer .containerFooter .rightContent .hourly .dayContent i {
    padding-right: 10px;
    color: #9f9e9e;
    font-size: 18px;
}

footer .containerFooter .rightContent .hourly .dayContent .dayHours {
    font-size: 14px;
    line-height: 1.5rem;
}

footer .containerFooter .rightContent .hourly .dayContent .dayHours h3 {
    color: #fafafa;
    font-weight: normal;
}

footer .containerFooter .rightContent .hourly .dayContent .dayHours p {
    color: #9f9e9e;
}

footer .containerFooter .rightContent .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .containerFooter .rightContent .info .infoContent {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

footer .containerFooter .rightContent .info .infoContent i {
    padding-right: 10px;
    color: #9f9e9e;
    font-size: 18px;
}

footer .containerFooter .rightContent .info .infoContent .link a {
    color: #9f9e9e;
    font-weight: normal;
}

footer .containerFooter .rightContent .contact {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

footer .containerFooter .rightContent .contact .addressContent {
    max-width: 220px;
}

footer .containerFooter .rightContent .contact .addressContent p {
    color: #fafafa;
    word-wrap: break-word;
}

footer .containerFooter .rightContent .contact .mail {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fafafa;
}

footer .containerFooter .rightContent .contact .phone {
    display: flex;
    gap: 10px;
    align-items: center;
    color: #fafafa;
}

@media screen and (min-width: 768px) and (max-width: 1610px) {
    /* FOOTER START */

    footer .containerFooter .rightContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 50px;
        height: 100%;
    }

    footer .containerFooter .rightContent .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }
}
@media screen and (max-width: 950px) {

    /* FOOTER STYLE */
    footer .containerFooter {
        max-width: 1600px;
        width: 80%;
        height: auto;
        margin: 30px auto;
        display: grid;
        grid-template-columns: 350px;
        gap: 30px;
    }
    footer .containerFooter .leftContent {
        height: 150px;
    }
    footer .containerFooter .rightContent {
        display: flex;
        flex-wrap: wrap;
        justify-content: left;
        gap: 50px;
        height: 100%;
    }
    footer .containerFooter .rightContent .contact {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 200px;
    }
}